<p id="notice"><%= notice %></p>
<div class="jumbotron text-center">
<h1>What is going on..</h1>
</div>
<div class="container">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.Title %></td>
      <td><%= post.Body %></td>
      <td><%= author_name(post) %></td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post), class: "text-warning #{display_if_author(post)}" %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } ,  class: "text-danger #{display_if_author(post)}" %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>
<br>
<button type="button" class="btn btn-default">
<%= link_to 'New Post', new_post_path %>
</button>